.form-item-unit {
  color: #606266;
  margin-left: 10px;
}

.form-item-des {
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
  vertical-align: top;
  width: 280px;
  color: #c0c0c0;
  line-height: 1.2;
}
